.container {
    display: flex;
    flex-direction: column;
    /* 'column' => elementos que veem abaixo do container ficam um abaixo do outro.
    o padrão do navegador é 'row' */
    max-width: 992px;
    height: 100vh;
    margin: 0 auto;
    padding: 2.5rem 2rem;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}
